<div class="theme-main" ng-controller="PrincipalController" >
		<form id="formMain" name="formMain" tabindex="0"> 
   			<div class="row">
					<div class="coluna-central col-xs-12 col-sm-12 col-md-12">
						 <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 theme-main-input-text">
						 
                                <h1>Bem vindo!<br/>O resultado da análise do Bitcoin está abaixo:</h1>
                                <br/>
                                <h3>Maiores valores de compra: <span  ng-repeat="maxBuy in bitcoinAnalyser.maiores_compras"> {{maxBuy}} -  </span ></h3>
                                <h3>Maiores valores de venda: <span  ng-repeat="maxSell in bitcoinAnalyser.maiores_vendas"> {{maxSell}} -  </span ></h3>
                                <h3>Média do valor de compra: {{bitcoinAnalyser.media_compra}}</h3>
                                <h3>Média do valor de venda: {{bitcoinAnalyser.media_venda}}</h3>
                                <h3>Mediana do valor de compra: {{bitcoinAnalyser.mediana_compra}}</h3>
                                <h3>Mediana do valor de venda: {{bitcoinAnalyser.mediana_venda}}</h3>
                                <h3>Desvio padrão valor de compra: {{bitcoinAnalyser.desvio_padrao_compra}}</h3>
                                <h3>Desvio padrão valor de venda: {{bitcoinAnalyser.desvio_padrao_venda}}</h3>
                         </div>       
                         
                         <br/>
                         <br/>
                         
                         
                         <button class="btn btn-primary btn-lg" data-toggle="tooltip" title="Atualizar Dados" ng-click="go('splash')" >
                             <i class="fa fa-refresh"></i>
                         </button>                 
                </div>
    		</div>
    </form>
</div>

